<html>
<head>
  <title></title>
</head>

<body>
  <h1>Create a Team and Heros!</h1>
<form method="post" action="/teams">
  Team Name: <input type="text" name="team[name]"><br>
  <label for="team_motto">Team Motto:</label>
  <input type="text" name="team[motto]"><br><br>

  <h2>Hero 1</h2>







</body>
</html>
